table {
  &.body {
    .columns {
      @media only screen and (max-width: #{$global-breakpoint}) {
        padding: 0 25px !important;
      }
      p {
        &.title_banner {
          @media only screen and (max-width: #{$global-breakpoint}) {
            padding: 0 30px !important;
          }
        }
      }
    }
  }
}
.img-app {
  @media only screen and (max-width: #{$global-breakpoint}) {
    margin-bottom: 10px !important;
  }
}

table,
tr,
td {
  text-align: center;
}

.descarga-1 {
  text-align: center;
  color: #454545;
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0;
}

.descarga-2 {
  text-align: center;
  color: #454545;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;
}

/*footer*/
.copyr {
  background: #202020;
  color: #ffffff;
  font-size: 12px;
  margin: 13px 0;
}

.unsuscrib {
  background-color: #ffffff;
  color: #c8c8c8;
  font-size: 10px;
  text-align: left;
  line-height: 1.1;
}
