.header {
  .logo {
    width: 120px;
  }
  background: #ffffff;
  a {
    .logo-fb {
      margin: auto;
      float: right;
    }
  }
}
table {
  &.body {
    img {
      &.logo {
        @media only screen and (max-width: #{$global-breakpoint}) {
          margin: auto !important;
          margin: auto !important;
          padding: 0 !important;
        }
      }
    }
  }
}
table {
  &.body {
    img {
      &.logo-fb {
        @media only screen and (max-width: #{$global-breakpoint}) {
          margin: auto !important;
          margin: auto !important;
          padding: 0 !important;
          float: none !important;
          padding-top: 12px !important;
        }
      }
    }
  }
}
.personalizado {
  padding: 0 50px;
  text-align: center;
  color: #5dbded;
  line-height: 1;
  font-size: 20px;
}

.collapse {
  padding: 0 55px !important;
}

.no-padding {
  padding: 0 !important;
}
.registro {
  text-transform: uppercase;
  text-align: center;
  color: #84cec1;
  font-size: 25px;
  line-height: 1.1;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.text-header {
  text-align: center;
  color: #b2b2b2;
  font-size: 15px;
  margin-bottom: 0;
}

.img-center {
  margin: 0 auto;
}
