<container>
  <row>
    <columns large="12" small="12" valign="middle" style="padding-bottom: 0 !important">
      <a href="#" target="_blank">
        <center>
          <img src="{{root}}assets/img/index/prod-1.jpg" alt="Mochila Deily. Desde 5.250 Millas">
        </center>
      </a>
    </columns>
  </row>
  <row>
    <columns large="12" small="12" valign="middle" style="padding-bottom: 0 !important">
      <a href="#" target="_blank">
        <center>
          <img src="{{root}}assets/img/index/prod-2.jpg" alt="Camiseta Alemania. Desde 8.850 Millas">
        </center>
      </a>
    </columns>
  </row>
  <row>
    <columns large="12" small="12" valign="middle">
      <a href="#" target="_blank">
        <center>
          <img src="{{root}}assets/img/index/prod-3.jpg" alt="Mini Parlante. Desde 10.281 Millas">
        </center>
      </a>
    </columns>
  </row>
  <spacer size="15"></spacer>
  <row>
    <columns small="12" large="12" valign="middle" style="padding-bottom: 0 !important">
      <center>
        <a href="#" target="_blank">
          <img class="img-center" src="{{root}}assets/img/index/reg.jpg" alt="">
        </a>
      </center>
    </columns>
  </row>
</container>

<container>
  <spacer size="30"></spacer>
  <row>
    <columns large="12" class="12" valign="middle" style="padding-bottom: 0 !important">
      <p class="descarga-1">
        <b>Descargue nuestra app</b>
        <br>
      </p>
      <p class="descarga-2">
        Disponible en App Store y Google Play
      </p>
    </columns>
  </row>
  <spacer size="15"></spacer>
  <row>
    <columns large="3" small="12" valign="middle"></columns>
    <columns large="6" small="12" valign="middle" style="text-align: center !important" class="no-padding">
      <row style="text-align: center !important">
        <center>
          <columns large="6" small="6" valign="middle" style="width: 45% !important">
            <center>
              <a href="https://itunes.apple.com/ec/app/clubmiles/id1179139410?mt=8" target="_blank">
                <img class="text-center" src="{{root}}assets/img/index/app-store.jpg" alt="">
              </a>
            </center>
          </columns>
        </center>
        <center>
          <columns large="6" small="6" valign="middle" style="width: 45% !important">
            <center>
              <a href="https://play.google.com/store/apps/details?id=ec.com.clubmiles" target="_blank">
                <img class="text-center" src="{{root}}assets/img/index/google-play.jpg" alt="">
              </a>
            </center>
          </columns>
        </center>
      </row>
    </columns>
    <columns large="3" small="12" valign="middle"></columns>
  </row>
  <spacer size="15"></spacer>
  <row>
    <columns large="12" small="12" valign="middle" class="no-padding">
      <p class="text-header">
        Términos y condiciones: Aplican 15 días laborables para la entrega.
      </p>
    </columns>
  </row>
  <spacer size="25"></spacer>
</container>