<container>
  <row class="collapse">
    <columns large="12" small="12" class="copyr" style="padding-bottom: 0 !important">
      <p class="text-center copyr">©2018 CLUBMILES DERECHOS RESERVADOS.</p>
    </columns>
  </row>
</container>