<container>
  <spacer size="20"></spacer>
  <row class="header">
    <columns large="5" small="12" class="small-text-center">
      <a href="https://www.clubmiles.com.ec/" target="_blank">
        <img class="logo" src="{{root}}assets/img/index/club_miles.jpg" />
      </a>
    </columns>
    <columns large="7" small="12" class="small-text-center">
      <a href="https://www.facebook.com/ClubMiles" target="_blank">
        <img class="logo-fb" src="{{root}}assets/img/index/facebook.jpg" alt="" />
      </a>
    </columns>
  </row>
  <spacer size="40"></spacer>
  <row class="collapse">
    <columns class="body-text" small="12" large="12" valign="middle" style="padding-bottom:0 !important">
      <h5 class="personalizado">
        Estimado/a:
        <strong>Juan Avilés</strong>
      </h5>
    </columns>
  </row>
</container>

<container>
  <spacer size="10"></spacer>
  <row>
    <columns large="12" small="12" valign="middle">
      <center>
        <img class="text-center" style="width: 100%" src="{{root}}assets/img/index/banner_1.jpg" alt="">
      </center>
    </columns>
  </row>
  <spacer size="10"></spacer>
  <row>
    <columns small="12" large="12" valign="middle">
      <center>
        <a href="#" target="_blank">
          <img class="img-center" src="{{root}}assets/img/index/reg.jpg" alt="">
        </a>
      </center>
      <spacer size="20"></spacer>
      <hr color="#cccccc">
    </columns>
  </row>
</container>